
<h2>Login</h2>
<form #myform="ngForm" (ngSubmit)="formData(myform.value)">
    <div class="col-4">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" name="username" ngModel>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="text" class="form-control" name="password" ngModel />
          </div>
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div>
    {{myform.value |json}}    
  </div>